{
  "mcpServers": {
    "thirdweb-api": {
      "url": "https://api.thirdweb.com/mcp?secretKey=YOUR_THIRDWEB_SECRET_KEY"
    },
    "GitKraken": {
      "command": "gk",
      "args": [
        "mcp",
        "--host=cursor"
      ],
      "type": "stdio"
    }
  }
}
